<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> Index Page </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        
        <div class = "container">
            <h3> Sign up Here. </h3>
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class = "btn btn-primary" value="submit">
            </form>
        </div>
    </body>
</html>
